/*FONTS*/

@font-face {
  font-family: 'Pragmatica';
  font-style: normal;
  font-weight: 200;
  src: url(../fonts/268A57_12_0.eot);
  src: url(../fonts/268A57_12_0.eot?#iefix) format('embedded-opentype'),
    url(../fonts/268A57_12_0.woff) format('woff'),
    url(../fonts/268A57_12_0.ttf) format('truetype');
}

@font-face {
  font-family: 'Pragmatica';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/268A57_14_0.eot);
  src: url(../fonts/268A57_14_0.eot?#iefix) format('embedded-opentype'),
    url(../fonts/268A57_14_0.woff) format('woff'),
    url(../fonts/268A57_14_0.ttf) format('truetype');
}

@font-face {
  font-family: 'Pragmatica';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/268A57_E_0.eot);
  src: url(../fonts/268A57_E_0.eot?#iefix) format('embedded-opentype'),
    url(../fonts/268A57_E_0.woff) format('woff'),
    url(../fonts/268A57_E_0.ttf) format('truetype');
}

@font-face {
  font-family: 'Pragmatica';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/268A57_10_0.eot);
  src: url(../fonts/268A57_10_0.eot?#iefix) format('embedded-opentype'),
    url(../fonts/268A57_10_0.woff) format('woff'),
    url(../fonts/268A57_10_0.ttf) format('truetype');
}
